<footer>
   <section id="footer--cta">
      <img src="/assets/icons/interpro_logo.svg" alt="" />
      <div>
         <h1>Best Development Services located in Jamaica.</h1>
         <p>
            All of your services in one place: Development, Design, Hosting, &
            more.
         </p>
      </div>
      <div class="cta">
         <button routerLink="/get-a-quote" class="btn btn--cta animate-bounce">Get Started</button>
      </div>
   </section>

   <section id="footer--links">
      <div class="footer-list company">
         <img
            id="company-logo"
            src="/assets/icons/interpro_logo.svg"
            alt="IterPro Logo"
         />
         <h3 id="company-name">
            InterPro <br />
            Consultant Inc.
         </h3>
         <p id="company-slogan">
            All of your services in one place: <br />Development, Design,
            Hosting, & more.
         </p>
      </div>
      <div class="footer-list">
         <div class="footer__header">
            <p>Services</p>
         </div>
         <div class="footer__item">
            <a href="/services/website-development">Website Development</a>
         </div>
         <div class="footer__item">
            <a href="/services/mobile-application-development"
               >Mobile App Development</a
            >
         </div>
         <div class="footer__item">
            <a href="/services/website-hosting">Website Hosting</a>
         </div>
         <div class="footer__item">
            <a href="/services/api-development">API Development</a>
         </div>
      </div>
      <div class="footer-list">
         <div class="footer__header">
            <p>Quick Links</p>
         </div>
         <div class="footer__item"><a href="/faq">F.A.Q's</a></div>
      </div>
      <div class="footer-list">
         <div class="footer__header">
            <p>Social Network</p>
         </div>
         <div class="footer__item">
            <img src="/assets/icons/instagram.png" width="20" height="20" />
            <a href="#!" target="_blank"> @InterPro_Codes </a>
         </div>
         <div class="footer__item">
            <img src="/assets/icons/facebook.png" width="20" height="20" />
            <a href="#!" target="_blank"> InterPro Inc </a>
         </div>
      </div>
   </section>
   <div class="flex justify-center my-10">
      <div class="divider-label mx-auto">
         <span>
            <small>Copyright &copy; 2022 - InterPro Consultant Inc.</small>
         </span>
      </div>
   </div>
</footer>
