<nav class="navbar">
   <div class="navbar__child">
      <div class="inline-flex items-center">
         <div class="flex items-center">
            <img
               src="/assets/icons/interpro_logo.svg"
               alt="InterPro Trademark"
               width="40"
               height="40"
               class="mr-3"
            />
            <a class="brand mr-6 cursor-pointer" href="/">InterPro</a>
         </div>
         <button
            class="dropdown__trigger mr-5"
            (click)="dropdownToggle($event)"
            [ngClass]="{ active: dropdownOpen }"
         >
            Services
            <i class="dropdown__icon fa-solid fa-angle-down"></i>
            <div class="dropdown dropdown--hidden">
               <a
                  href="/services/website-development/"
                  routerLinkActive="active"
                  class="dropdown-item"
               >
                  Website Development
               </a>
               <a
                  href="/services/mobile-application-development/"
                  routerLinkActive="active"
                  class="dropdown-item"
               >
                  Mobile App Development
               </a>
               <a
                  href="/services/website-hosting/"
                  routerLinkActive="active"
                  class="dropdown-item"
               >
                  Website Hosting
               </a>
               <a
                  href="/services/api-development/"
                  routerLinkActive="active"
                  class="dropdown-item"
               >
                  API Development
               </a>
            </div>
         </button>
         <a class="mr-5" href="/faq">FAQ's</a>
         <!-- TODO use isAdmin to display the admin link in production -->
         <!-- <a *ngIf="isAdmin" class="mr-5" href="/admin/dashboard">Admin</a> -->
         <a class="mr-5" href="/admin/dashboard">Admin</a>
      </div>
      <div class="inline-flex items-center">
         <button class="btn bg-transparent ml-5" (click)="openRequestModal()">
            Contact Us
         </button>
         <button class="btn btn--cta ml-5" routerLink="/get-a-quote">
            Get a quote
         </button>
      </div>
   </div>
</nav>
<img class="header-gradient" src="/assets/header-gradient.svg" alt="" />
