<nav class="navbar">
   <div class="flex items-center justify-between w-4/5 mx-auto py-6">
      <div class="inline-flex items-center">
         <div class="flex items-center">
            <img
               src="/assets/icons/interpro_logo.svg"
               alt="InterPro Trademark"
               width="40"
               height="40"
               class="mr-3"
            />
            <h1 class="brand mr-6">InterPro</h1>
         </div>
         <button class="mr-5">
            Services <i class="fa-solid fa-angle-down"></i>
         </button>
         <button class="mr-5">FAQ's</button>
      </div>
      <div class="inline-flex items-center">
         <button class="btn bg-transparent ml-5">Contact Sales</button>
         <button class="btn btn--cta ml-5">Get a quote</button>
      </div>
   </div>
</nav>
