<app-header></app-header>
<div class="section">
   <div>
      <div class="section__subtitle">Get a Quote</div>
      <h1 class="section__title">Need a Quote on Services?</h1>
      <!-- <p class="section__content">
         "When you help others feel important, you help yourself feel important
         too." – David J. Schwartz, Author and Motivational Speaker
      </p> -->
      <div class="section__content">
         "Sometimes one can become lost in a big company and lose sight of how
         what one does truly helps or impacts the end customer. If you are one
         of those, think of a fire brigade, a line of people passing buckets of
         water from one to the other from a source of water to the site of the
         fire. An individual in the brigade may not be able to see the end
         result, i.e., the water being thrown on the fire to put it out, but the
         contribution of the individual is indispensable to the final outcome."
         <br />
         – Grant Bright, Former Project Lead IBM
      </div>
   </div>
   <div class="form-wrap">
      <div class="section__title">Get a Quote</div>

      <form (submit)="requestQuote(quoteForm.value)" #quoteForm="ngForm">
         <input
            type="text"
            ngModel
            required
            name="fullName"
            placeholder="Full Name"
            class="form-item form-item-end"
            autocomplete="off"
         />
         <input
            type="text"
            ngModel
            required
            name="email"
            placeholder="Email Address"
            class="form-item"
            autocomplete="off"
         />
         <input
            type="number"
            ngModel
            required
            name="phoneNumber"
            placeholder="Phone Number"
            class="form-item form-item-end"
            autocomplete="off"
         />
         <select
            class="form-item"
            ngModel
            required
            name="service"
            aria-placeholder="Service"
         >
            <option
               *ngFor="let service of services; let i = index"
               [value]="service._id"
            >
               {{ service.name }}
            </option>
         </select>
         <input
            type="text"
            ngModel
            required
            name="company"
            placeholder="Company"
            class="form-item form-item-end"
            autocomplete="off"
         />
         <input
            type="text"
            ngModel
            required
            name="budget"
            placeholder="Budget"
            class="form-item"
            autocomplete="off"
         />
         <textarea
            ngModel
            required
            name="message"
            placeholder="Enter message here..."
            class="form-item form-item-end col-span-2"
            autocomplete="off"
            rows="5"
         ></textarea>
         <button class="btn btn--cta col-span-2">Get Quote</button>
      </form>
   </div>
</div>
<app-footer></app-footer>
