@import "../../../colors.scss";

$section-color: var(--section-color);

.section {
   $width: 95%;
   display: grid;
   grid-template: auto / 4fr 6fr;
   gap: 2rem;
   width: $width;
   max-width: $width;
   margin-inline: auto;
   padding: 95px;
   margin-bottom: 4rem;
   border-radius: 60px;

   .icon-wrapper {
      color: $section-color;
      box-shadow: 4px 4px 20px 0px;
      width: fit-content;

      .mat-icon {
         padding: 25px;
         background-color: $section-color;
         color: white;
         display: grid;
         place-content: center;
         transform: scale(1.2);
         border-radius: 0.3rem;
      }
   }

   .img-wrapper {
      overflow: hidden;
      border-radius: 2rem;
      position: relative;

      .section__top-rated {
         $positionPx: 35px;

         top: $positionPx;
         right: $positionPx;
         position: absolute;
         z-index: 2;
         background-color: var(--section-color);
         color: white;
         padding: 5px 20px;
         border-radius: 4px;
         line-height: 16px;
         font-size: x-small;
      }

      img {
         transition: 4s ease;

         &:hover {
            transform: scale(1.1) rotate(2deg);
         }
      }
   }

   &__title {
      text-transform: capitalize;
      font-weight: 800;
      font-size: 45px;
      line-height: 69px;
      margin-top: 20px;
      margin-bottom: 50px;
      color: #292d34;

      &::after {
         content: "";
         display: block;
         width: 100px;
         height: 5px;
         border-radius: 4rem;
         margin-top: 35px;
         background-color: $section-color;
      }
   }

   &__subtitle {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 2px;
      margin-top: 40px;
      color: $section-color;
   }

   &__content {
      color: #7c828d;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 20px;
   }
}
