<section>
   <div class="greeting">
      <div>
         <h1>Quote Requests</h1>
         <p>
            Requests for a quote customers have made for development services
         </p>
      </div>
      <!-- TODO Implement Search -->
      <!-- <form class="w-[500px]">
         <label
            for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only"
         >
            Search
         </label>
         <div class="relative">
            <div
               class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
            >
               <svg
                  aria-hidden="true"
                  class="w-5 h-5 text-gray-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <path
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  ></path>
               </svg>
            </div>
            <input
               type="search"
               id="default-search"
               class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
               placeholder="Search quote requests..."
               ngModel
               [ngModelOptions]="{ standalone: true }"
               #search="ngModel"
            />
            <button
               type="submit"
               class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
            >
               Search
            </button>
         </div>
      </form> -->
   </div>

   <div>
      <ng-container *ngIf="quotes.length == 0 && fetchCompleted == false">
         <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         <p class="text-center mt-6">Searching for quote requests...</p>
      </ng-container>
      <div *ngIf="quotes.length == 0 && fetchCompleted == true">
         <h1>Nothing is here at the moment</h1>
      </div>

      <div
         *ngIf="quotes.length > 0 && fetchCompleted == true"
         class="overflow-x-auto shadow-md sm:rounded-lg"
      >
         <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-100 bg-gray-700">
               <tr>
                  <th
                     (click)="reverseMode = !reverseMode; sortBy = 'priority'"
                     scope="col"
                     class="select-none py-3 px-6"
                  >
                     <!-- [matTooltip]="'Sort By: Priority'"
                     [matTooltipPosition]="'above'" -->
                     Priority
                  </th>
                  <th
                     (click)="reverseMode = !reverseMode; sortBy = 'fullName'"
                     scope="col"
                     class="select-none cursor-pointer hover:bg-gray-600 hover:text-gray-200 py-3 px-6"
                     [matTooltip]="'Sort By: Full Name'"
                     [matTooltipPosition]="'above'"
                  >
                     Name
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <th
                     (click)="
                        reverseMode = !reverseMode; sortBy = 'phoneNumber'
                     "
                     [matTooltip]="'Sort By: Phone Number'"
                     [matTooltipPosition]="'above'"
                     scope="col"
                     class="select-none cursor-pointer hover:bg-gray-600 hover:text-gray-200 py-3 px-6"
                  >
                     Phone
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <th
                     (click)="reverseMode = !reverseMode; sortBy = 'email'"
                     [matTooltip]="'Sort By: Email'"
                     [matTooltipPosition]="'above'"
                     scope="col"
                     class="select-none cursor-pointer hover:bg-gray-600 hover:text-gray-200 py-3 px-6"
                  >
                     Email
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <th
                     [matTooltip]="'Sort By: Budget'"
                     [matTooltipPosition]="'above'"
                     (click)="reverseMode = !reverseMode; sortBy = 'budget'"
                     scope="col"
                     class="select-none cursor-pointer hover:bg-gray-600 hover:text-gray-200 py-3 px-6"
                  >
                     Budget
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <th
                     [matTooltip]="'Sort By: Service'"
                     [matTooltipPosition]="'above'"
                     (click)="reverseMode = !reverseMode; sortBy = 'service'"
                     scope="col"
                     class="select-none cursor-pointer hover:bg-gray-600 hover:text-gray-200 py-3 px-6"
                  >
                     Service
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <th scope="col" class="py-3 pr-6 text-center">Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr
                  class="bg-white border-b"
                  *ngFor="
                     let quote of quotes | sort : sortBy : reverseMode;
                     index as i
                  "
               >
                  <td>
                     <div class="flex justify-around items-center">
                        <select
                           (change)="
                              priorityChangeHandler(quote._id, priority.value)
                           "
                           #priority
                           class="w-6 p-2"
                           name=""
                           [value]="quote.priority"
                        >
                           <option value="low">Low</option>
                           <option value="normal">Normal</option>
                           <option value="high">High</option>
                           <option value="urgent">Urgent</option>
                        </select>
                        <span
                           [ngSwitch]="quote.priority"
                           [matTooltip]="quote.priority | titlecase"
                           [matTooltipPosition]="'right'"
                        >
                           <div *ngSwitchCase="'low'">
                              <div
                                 class="flex justify-center items-center relative"
                              >
                                 <div
                                    class="w-6 h-6 bg-blue-200 rounded-full absolute animate-pulse"
                                 ></div>
                                 <div
                                    class="w-4 h-4 bg-blue-500 rounded-full absolute"
                                 ></div>
                              </div>
                           </div>
                           <div *ngSwitchCase="'normal'">
                              <div
                                 class="flex justify-center items-center relative"
                              >
                                 <div
                                    class="w-6 h-6 bg-green-200 rounded-full absolute animate-pulse"
                                 ></div>
                                 <div
                                    class="w-4 h-4 bg-green-500 rounded-full absolute"
                                 ></div>
                              </div>
                           </div>
                           <div *ngSwitchCase="'high'">
                              <div
                                 class="flex justify-center items-center relative"
                              >
                                 <div
                                    class="w-6 h-6 bg-orange-200 rounded-full absolute animate-pulse"
                                 ></div>
                                 <div
                                    class="w-4 h-4 bg-orange-500 rounded-full absolute"
                                 ></div>
                              </div>
                           </div>
                           <div *ngSwitchCase="'urgent'">
                              <div
                                 class="flex justify-center items-center relative"
                              >
                                 <div
                                    class="w-6 h-6 bg-red-200 rounded-full absolute animate-pulse"
                                 ></div>
                                 <div
                                    class="w-4 h-4 bg-red-500 rounded-full absolute"
                                 ></div>
                              </div>
                           </div>
                           <div *ngSwitchDefault>
                              <div
                                 class="flex justify-center items-center relative"
                              >
                                 <div
                                    class="w-6 h-6 bg-gray-200 rounded-full absolute animate-pulse"
                                 ></div>
                                 <div
                                    class="w-4 h-4 bg-gray-500 rounded-full absolute"
                                 ></div>
                              </div>
                           </div>
                        </span>
                     </div>
                  </td>
                  <td
                     class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
                  >
                     {{ quote.fullName }}
                  </td>
                  <td class="py-4 px-6">
                     {{ quote.phoneNumber }}
                  </td>
                  <td class="py-4 px-6">{{ quote.email }}</td>
                  <td class="py-4 px-6">{{ quote.budget | currency }}</td>
                  <td class="py-4 px-6">{{ quote.service.name }}</td>

                  <td>
                     <div class="flex item-center justify-center">
                        <a
                           [href]="quickEmailLink(quote)"
                           class="px-4 flex justify-center items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                        >
                           <mat-icon>quickreply</mat-icon>
                        </a>
                        <button
                           (click)="openDetailsModal(quote._id)"
                           class="px-4 flex justify-center items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                        >
                           <mat-icon>visibility</mat-icon>
                        </button>
                        <button
                           class="px-4 flex justify-center items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                           (click)="openDeleteModal(quote._id)"
                        >
                           <mat-icon>delete</mat-icon>
                        </button>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</section>
