<h2 mat-dialog-title>Always feel free to get in touch with us</h2>
<mat-dialog-content>
   <small>
      Need to get in touch with our team? We’re all ears. We’re here to help and
      answer any questions you may have so don’t hesitate to send us a message.
      We look forward to hearing from you.
   </small>
   <section class="py-10">
      <form
         class="grid gap-y-6"
         #contactForm="ngForm"
         (ngSubmit)="onSubmit(contactForm.value)"
      >
         <div class="form-group">
            <label for="email">Email Address</label>
            <input
               required
               matInput
               ngModel
               #email="ngModel"
               minlength="10"
               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
               name="email"
               type="email"
               class="form-item form-item-end"
               placeholder="Enter your email address"
            />
         </div>
         <div class="form-group">
            <label for="message">Message</label>
            <textarea
               matInput
               ngModel
               #message="ngModel"
               name="message"
               placeholder="Enter message here..."
               class="form-item form-item-end"
               rows="5"
            ></textarea>
         </div>
      </form>
   </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancel</button>
   <button
      mat-raised-button
      (click)="contactForm.ngSubmit.emit()"
      [disabled]="!contactForm.valid"
      [mat-dialog-close]="true"
      type="submit"
      color="primary"
   >
      Contact Us
   </button>
</mat-dialog-actions>
