<section>
   <div class="greeting">
      <div>
         <h1>Hi, Roshane Johnson</h1>
         <p>Welcome back to InterPro's CRM Dashboard</p>
      </div>
   </div>

   <div class="stat-cards grid grid-cols-4 gap-x-3">
      <div
         class="card bg-[#639bff] text-white rounded-lg border border-gray-200 p-8"
      >
         <div class="flex justify-between">
            <span class="font-bold text-xl drop-shadow">
               {{ stats.requests | number }}
            </span>
            <mat-icon class="drop-shadow">pending_actions</mat-icon>
         </div>
         <p class="text-xs mt-3 drop-shadow">Total requests made</p>
      </div>

      <div
         class="card bg-[#2dcea8] text-white rounded-lg border border-gray-200 p-8"
      >
         <div class="flex justify-between">
            <span class="drop-shadow font-bold text-xl">
               {{ stats.questions | number }}
            </span>
            <mat-icon class="drop-shadow">question_answer</mat-icon>
         </div>
         <p class="text-xs mt-3 drop-shadow">Total contacts from customers</p>
      </div>

      <div
         class="card bg-[#ff6a7e] text-white rounded-lg border border-gray-200 p-8"
      >
         <div class="flex justify-between">
            <span class="drop-shadow font-bold text-xl">
               {{ 33.98 | number }}
            </span>
            <mat-icon class="drop-shadow">send</mat-icon>
         </div>
         <p class="drop-shadow text-xs mt-3">WhatsApp messages sent</p>
      </div>

      <div
         class="card bg-[#f09755] text-white rounded-lg border border-gray-200 p-8"
      >
         <div class="flex justify-between">
            <span class="drop-shadow font-bold text-xl">
               {{ 0.33 | percent }}
            </span>
            <mat-icon class="drop-shadow">shopping_cart</mat-icon>
         </div>
         <p class="drop-shadow text-xs mt-3">
            Sales performance (previous month)
         </p>
      </div>
   </div>
</section>
