@import "../../../../component.scss";

.greeting {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;

   h1 {
      font-size: x-large;
      font-weight: 600;
      color: rgb(28, 28, 28);
   }

   p {
      font-size: small;
      color: rgb(132, 132, 132);
   }

   .btn {
      display: flex;
      align-items: center;
      color: white;
      text-align: center;
      border-radius: 0.375rem;
      padding-inline: 1rem;
      padding-block: 0.525rem;
      cursor: pointer;

      &--cta {
         color: #2b2b2b;
         border: 1px solid rgba(0, 0, 0, 0.2);
      }
   }
}

textarea {
   padding: 1rem;
   border-radius: 0.4rem;
}

.stroked-btn {
   padding: 0 50px;
}
