/* TailwindCSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./colors.scss";

html,
body {
   font-family: "Axiforma", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
}

* {
   box-sizing: border-box;
}

.divider-label {
   text-align: center;
   max-width: 100%;
   position: relative;
   font-size: 12px;
   letter-spacing: 1px;
   font-weight: 700;
   color: #7c828d !important;
   text-transform: uppercase;
   display: inline-block;
   margin-inline: auto;

   &::before,
   &::after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background: #e9ebf0;
      top: 50%;
      width: 400px;
   }

   &::before {
      right: 100%;
   }

   &::after {
      left: 100%;
   }

   span {
      margin-inline: 24px;
   }
}

.btn {
   color: white;
   text-align: center;
   vertical-align: middle;
   border-radius: 0.375rem;
   padding-inline: 1rem;
   padding-block: 0.625rem;
   cursor: pointer;

   &--cta {
      color: black;
      background-color: white;
      vertical-align: baseline;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
         0 4px 6px -4px rgb(0 0 0 / 0.1);
   }
}

.dropdown__trigger {
   position: relative;
   transition: all 100ms ease;

   &.active {
      color: $primary;

      &::after {
         content: "";
         display: block;
         position: absolute;
         height: 5px;
         width: 50px;
         margin-inline: auto;
         margin-top: 30px;
         background-color: $primary;
      }
   }
}

.dropdown {
   display: grid;
   position: absolute;
   top: 20px;
   color: #292d34;
   background-color: white;
   border-radius: 0.375rem;
   width: max-content;
   border: 1px solid rgba(0, 0, 0, 0.1);

   &--hidden {
      display: none;
   }

   .dropdown-item {
      text-align: left;
      padding: 15px 15px;

      // &:hover {
      //    background-color: rgba(0, 0, 0, 0.05);
      // }
   }
}

.dropdown__icon {
   margin-left: 5px;
}

// Dynamic Styles
.navbar--placeholder {
   content: normal;
   display: block;
   height: 89.6px;
}

/* Material Customs Styles */
.mat-tab-nav-bar,
.mat-tab-header {
   border: 0;
}

.simple-dialog {
   padding: 0;

   .mat-dialog-container,
   .mat-dialog-content {
      overflow: unset;
      padding: 0;
   }
}

.form-item {
   @apply transition-all text-xs border-[#b9bec799] border p-4 w-full rounded-md hover:shadow-md focus:shadow-xl focus:border-primary focus:outline-primary outline-offset-0 bg-slate-50;

   &-end {
      @apply border-l-8;

      &--home {
         @apply py-4 border-l-8 text-base placeholder:text-xs;
      }
   }
}
