<section>
   <div class="greeting">
      <div>
         <h1>Contact Messages</h1>
         <p>Messages sent from the form on the user page navbar header.</p>
      </div>
   </div>

   <div>
      <ng-container *ngIf="messages.length == 0 && fetchCompleted == false">
         <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         <p class="text-center mt-6">Searching for quote requests...</p>
      </ng-container>
      <div *ngIf="messages.length == 0 && fetchCompleted == true">
         <h1>Nothing is here at the moment</h1>
      </div>

      <div
         *ngIf="messages.length > 0 && fetchCompleted == true"
         class="overflow-x-auto shadow-md sm:rounded-lg"
      >
         <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
               <tr>
                  <th
                     (click)="(null)"
                     scope="col"
                     class="cursor-pointer hover:bg-slate-100 py-3 px-6"
                  >
                     Email
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <th
                     (click)="(null)"
                     scope="col"
                     class="cursor-pointer hover:bg-slate-100 py-3 px-6"
                  >
                     Message
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th>
                  <!-- <th
                     (click)="(null)"
                     scope="col"
                     class="cursor-pointer hover:bg-slate-100 py-3 px-6"
                  >
                     Status
                     <button href="#">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           class="ml-1 w-3 h-3"
                           aria-hidden="true"
                           fill="currentColor"
                           viewBox="0 0 320 512"
                        >
                           <path
                              d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"
                           />
                        </svg>
                     </button>
                  </th> -->
                  <th scope="col" class="py-3 pr-6 text-center">Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr
                  class="bg-white border-b"
                  *ngFor="let message of messages; index as i"
               >
                  <td class="py-4 px-6">{{ message.email }}</td>
                  <td class="py-4 px-6">{{ message.message }}</td>
                  <!-- <td class="py-4 px-6">
                        <span
                           class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs"
                        >
                           {{ message.status }}
                        </span>
                     </td> -->
                  <td>
                     <div class="flex item-center justify-center">
                        <!-- TODO implement status -->
                        <!-- <div
                           class="px-4 flex justify-center items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                        >
                           <mat-icon
                              [ngClass]="{
                                 'text-green-500': message.status == 'active',
                                 'text-red-500': message.status == 'inactive'
                              }"
                              (click)="openUpdateModal(message._id, message.status)"
                           >
                              {{
                                 message.status == "active"
                                    ? "toggle_on"
                                    : "toggle_off"
                              }}
                           </mat-icon>
                        </div> -->
                        <button
                           (click)="openDetailsModal(message._id)"
                           class="px-4 flex justify-center items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                        >
                           <mat-icon>visibility</mat-icon>
                        </button>
                        <button
                           class="px-4 flex justify-center items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                           (click)="openDeleteModal(message._id)"
                        >
                           <mat-icon>delete</mat-icon>
                        </button>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</section>
