<section class="pricing-section">
   <mat-tab-group disableRipple="true" color="primary" mat-align-tabs="center">
      <mat-tab
         labelClass="mat-tab-border-0"
         *ngFor="let plan of plans; let $i = index"
         [label]="plan"
      >
         <div class="serivice__content">
            <ng-template matTabContent>
               <app-service-expense-card
                  [priceTable]="priceTables[$i]"
               ></app-service-expense-card>
            </ng-template>
         </div>
      </mat-tab>
   </mat-tab-group>
</section>
